.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* #root{
  margin-bottom: 5%;
} */

.container {
  position: relative;
  background: rgb(252, 252, 252);
  min-height: 75vh;
  display: block;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
  /* -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3); 
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);  */
  box-shadow:         0px 0px 8px rgba(149, 154, 160, 0.832);
}

.logout{
  margin-bottom: 5%;
  margin-left: 20%;
}

.createDiscussion{
  position: absolute;
  margin-left: 30%;
  /* display: flex; */
}

.userShow {
  position: relative;
  left:40px; 
  top:40px;
}


.forumShowData{
  position: relative;
  padding-top: 40px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 60px;
  text-align: center;

}

.forumPic {
  max-width: 400px;
  max-height: 500px;
  left: 50%;
  top: 50%;
}

.commentContainer {
  position: relative;
  left: 25%;
  /* display: block;
  align-items: center; */
}

.forumIndex{
  padding: 20px;
}

.forumIndexDetails{
  padding: 20px;
  display: flex;
}

.messageBoardCards{
  flex: 1;
  margin-right: 20px;
}

.createDiscussion{
  margin-left:10%;
}


/* w3schools https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.plantCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.plantCard {
  position: relative;
}

.imgCard {
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;    
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
 
}

.imgCard:hover {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  /* opacity: 1; */
}

.addPlantButton{
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  height: 50px;
  /* transition: opacity .2s, visibility .2s; */
}

.addPlantButton:hover {
  background-color: #4CAF50;
}


.navbarLink {
  margin-left: 1em;
  display: "flex";
  text-decoration: "none";
  color: white;
  font-size: "20px";
}

.navbarLink:hover{
  color: yellow;
}

.error{
  font: #f44336;
}

#nextPage{
  position: relative;
  bottom: 15px;
  left: 20px;
  font-size: 15px;
}