.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* w3schools https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
}

.imgCard {
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;    
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
 
}

.imgCard:hover {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: 1;
}

.addPlantButton{
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  height: 50px;
  /* transition: opacity .2s, visibility .2s; */
}

.addPlantButton:hover {
  background-color: #4CAF50;
}